body {
   font-family: "Lato", sans-serif ; 
   color: #292929;
   ;   
}
.logo{
    color: #01996D;
}
.link{
    color: #292929;
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
}
.button-start{
    align-items: center;
padding: 13px 50px;
background: #01996D;
border: 1px solid #01996D;
border-radius: 4px;
}
.sign-in{
    border: none;
    background-color: #FFFFFF;
}
.hero-title{
    font-family: 'Georgia';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 74px;
margin-bottom: 30px;
color: #01996D;
}
.hero-text{
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 31px;
margin-bottom: 18px;
width: 420px;

color: #484848;
}
.hero-button{
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

text-align: center;

color: #FFFFFF;
background: #01996D;
align-items: center
border 1px solid #01996D;
border-radius: 4px;
}

